.first_section {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 15rem;
}
.second_section {
  text-align: left;
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 5rem;
  vertical-align: top;
}
.header {
  font-family: "Bebas Neue";
  font-weight: 200;
  font-size: 5.2rem;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0.1rem;
}
.content_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}
.content_media {
  flex: 1;
}
.info_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-family: "Manrope";
  font-weight: 200;
  font-size: 2.4rem;
  letter-spacing: 0.03rem;
  text-transform: capitalize;
}
.sub_title {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: rgb(233, 232, 232);
  letter-spacing: 0.2rem;
}

.action {
  display: flex;
  gap: 16px;
}

.action a {
  /* background-color: gray; */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.action a:hover {
  transform: translateY(-4px);
}
.skill {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.skill_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_img img {
  border-radius: 5px;
}
.skill_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skill_content_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skill_set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.skill_set button {
  color: white;
  background-color: black;
  border: 1px solid white;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.experience_header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.experience_header button {
  background-color: rgba(211, 233, 122, 1);
  color: black;
  text-transform: uppercase;
  width: fit-content;
  padding: 15px;
  height: 48px;
  border-radius: 25px;
  outline: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Manrope";
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  gap: 10px;
}
.experience_header button span {
  background-color: black;
  padding: 10px;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}
.experience_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.exp_content_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info_top_layer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info_bottom_layer {
}
.company {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Manrope";
  color: rgba(211, 233, 122, 1);
}
.company a {
  border-bottom: 1px solid;
}
@media only screen and (min-width: 1024px) {
  .first_section,
  .second_section {
    /* padding: 50px; */
    gap: 48px;
  }
  .hero_content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 25px;
  }
  .hero_content .header {
    font-size: 9.2rem;
  }
  .content_info {
  }
  .content_media {
    width: 100%;
  }

  .title {
    font-size: 4.5rem;
  }
  .sub_title {
    font-size: 2.1rem;
  }
  .skill {
    flex-direction: row;

    align-items: center;
  }
  .skills .header {
    font-size: 7rem;
  }
  .skill_img {
  }
  .skill_img img {
    width: 400px;
    height: 100%;
  }
  .skill_content_info {
    gap: 50px;
  }
  .company {
    font-size: 3rem;
  }
  .experience .header {
    font-size: 7rem;
  }
  .experience_header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  border-radius: 100%;
  border: 4px solid white;
  position: fixed;
  z-index: 1000;
  top: 50vh;
  left: 10px;
  background-color: black;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}
