.app {
  background-color: rgba(10, 10, 10, 1);
  color: white;
  width: 100%;
}
footer{
  padding: 10px;
}
.contact{
  display: flex;
  flex-direction: column;
 
  gap: 64px;
}
.contact_details{

}
.header{
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 5.7rem;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0.1rem;
}
.sub_title{
  font-family: "Manrope";
  font-weight: 200;
  font-size: 1.5rem;
 
  padding: 0;
  letter-spacing: 0.05rem;
}
.sub_title span{
  border-bottom: 1px solid rgba(211, 233, 122, 1);
}
.detail_icon{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_form{

}
footer p{
  font-family: "Manrope";
  font-size: 2rem;
  font-weight: 100 ;
  line-height: 5rem;
  letter-spacing: 0.05rem ;
}
@media only screen and (min-width: 580px) {
  .app {
    width: 100%;
    
  }
}

@media only screen and (min-width: 768px) {
  .app {
    width: 100%;
   
  }
}
@media only screen and (min-width: 1024px) {
  .app {
    width: 100%;
  
  }
}
