form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
label {
  font-family: "Manrope";
  font-weight: medium;
  font-size: 1.6rem;
  line-height: ;
  letter-spacing: ;
}
input,
textarea {
  background-color: rgba(72, 72, 72, 1);
  color: white;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
}
.name,
.email,
.subject,
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name label {
}
.name input {
  height: 48px;
}
.email {
}
.email label {
}
.email input {
  height: 48px;
}
.subject {
}
.subject label {
}
.subject input {
  height: 48px;
}
.message {
}
.message label {
}
.message textarea {
  height: 148px;
}
button {
  background-color: rgba(211, 233, 122, 1);
  color: black;
  font-family: "Manrope";
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: black;
  color: white;
  
}

@media (min-width: 768px) {

}
