.first_section {
  /* padding: 30px; */
  text-align: justify;
  /* height: 100vh; */
  display: flex;
  /* margin-top: 10rem; */
}
.navigation{
  border-radius: 100%;
  border: 4px solid white;
  position: fixed;
  z-index: 1000;
  top: 50vh;
  left: 10px;
  background-color: black;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.second_section {
  padding: 10px;
}
.projects_body {
 
  display: grid;

  height: 100%;
  gap: 100px; /* reduced for better spacing */


  padding: 5px 7px; /* avoids scrollbar overlapping content */
  flex: 1 1 auto; /* fill remaining vertical space */
  scroll-snap-type: y proximity;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
  justify-content:center ;
  margin-top: 5rem;
}
.info_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header {
  font-family: "Bebas Neue";
  font-weight: 200;
  font-size: 5.2rem;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0.1rem;
}
.title {
  font-family: "Manrope";
  font-weight: 200;
  font-size: 2.4rem;
  letter-spacing: 0.03rem;
  /* text-transform: capitalize; */
  text-align: left;
}
.sub_title {
   font-family: "Crimson Pro", serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  color: rgb(233, 232, 232);
}

@media only screen and (min-width: 1024px) {
  .first_section {
    /* padding: 50px; */
    /* height: 100vh; */
     padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_content {
    
  }
  .header {
    width: 100%;
    font-size: 9.2rem;
  }
  .title {
    font-size: 4.5rem;
  }
  .sub_title {
    font-size: 2.5rem;
  }
  .second_section {
    /* padding: 50px; */
    
  }
  .projects_body{
    gap: 150px;
     grid-template-columns: auto auto;
  }
}
