.template{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 50px 0;
}
.temp_header{
 background-color: rgba(85, 85, 85, 1);
 border-radius: ;
 height: fit-content;
}
.proj_name{
    background-color: black;
    width: fit-content;
    font-size: 3.6rem;
    font-family: "Bebas Neue";
}
.proj_name span{

}
.temp_body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.temp_info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.top_layer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title{
    font-family: "Manrope";
    font-weight: medium;
    line-height: ;
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
}
.description{
    font-family: "Manrope";
    font-weight: small;
    line-height: ;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: gray;
}
.bottom_layer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project_info{
    font-family: "Manrope";
    font-weight: large;
    line-height: ;
    letter-spacing: 0.1rem;
    font-size: 2.6rem;
}
.info_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topic{
    font-family: "Manrope";
    font-weight:;
    line-height: ;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}
.value{
    font-family: "Manrope";
    font-weight:;
    line-height: ;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}
.temp_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: rgba(211, 233, 122, 1);
  font-family: "Manrope";
  font-size: 1.5rem;
}
.temp_links a {
    
}
@media only screen and (min-width: 1024px) {

    .topic{
        font-size: 3rem;
    }
    .value{
        font-size: 3rem;
    }
    .temp_links{
        font-size: 3rem;
    }
    .project_info{
        font-size: 3.6rem;
    }
    .description{
        font-size: 2.6rem;
    }
    .title{
        font-size: 3.6rem;
    }
    .proj_name{
        font-size: 6.6rem;
    }
}