@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(10, 10, 10, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 10px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button input{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}
hr{
  margin: 20px 0;
  border: 3px solid ;
}